* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffffff;
}


#nav {
    display: flex;
    justify-content: space-between;
}


#nav-options {
    display: flex;
    justify-content: space-evenly;
    margin-right: 15%;
    align-items: center;
    cursor: pointer;
    width: 55%;
}

@media (max-width: 760px) {
    .options {
        display: none;
    }
}


@media (max-width: 1024px) {
    .options {
        display: none;
    }
}


.options {
    font-size: 1rem;
    color: #666666;
}

.options:hover {
    color: #387ed1;
}


/** libe break */

.line {
    height: 1px;
    background-color: lightgray;
}

.main {
    padding-top: 60px;
}


#text1 {
    padding-top: 10px;
    font-family: "inter" , Arial, Helvetica, sans-serif;
}


#signup {
    margin-top: 45px;
    background-color: #387ed1;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #ffffff;
    border: 1px solid rgba(0,0,0,0);
    font-size: 19.7px;
    font-weight: 500;
}

#signup:hover {
    background-color: black;
    cursor: pointer;
}

/** part 2  */

#part2 {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}


.heading {
    font-size: 21px;
    color: #424242;
    margin: 40px 0 7px;
}
.para {
    font-size: 18px;
    color: #666666;
}

@media (max-width : 1024px) {
    #part2 {
        flex-wrap: wrap;
    }
}

.footer-text {
    margin-top: 15px;
    color: #666666;
    font-size: 16px;
}



.footer-bold {
    margin-top: 30px;
    color: #666666;
    font-size: 16px;
}


.footer-head {
    color: #424242;
    font-size: 18px;
}


.last-text {
    margin-right : 5px;
    margin-top: 10px;
}


.last-text:hover {
    color: #387ed1;
    cursor: pointer;
}


.hov:hover {
    color: #387ed1;
    cursor: pointer;
}